/*importing fonts from Google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: #141414;
    /*make every elements inside body to have the same font*/
    font-family: "Poppins", serif;
}

#container {
    /*set a size for the container so it will not take up the whole screen*/
    max-width: 300px;
    /*center the container*/
    margin: 0 auto;
    /*add space to the top of container. 20 vh means 20% of the view high*/
    margin-top: 15vh;
}

.card{
    /*add background color for card*/
    background-color: #1f1f1f;
    /*add padding for elements inside card*/
    padding: 20px;
    /*make background border round*/
    border-radius: 10px;
}

.img {
    /*make image smaller*/
    width: 30%; 
    /*make image border round*/
    border-radius: 50%;
    
    /*center the image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*center the image*/
}

.description{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;

}

.name{
    margin-top: 15px;
    font-weight: 500;
    font-size: 19px;
    color:#f0f0f0;
    text-align: center;  
}

.location{
    margin-top: -17px;
    font-weight: 500;
    color: #DFFF00;
    font-size: 11px;
    text-align: center;  
}

.job_title{
    text-align: center; 
    color:#dcdcdc;
    font-size: 11px;
    margin-top: 17px;
}

/*flex box*/
.links{
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 13px;
}

/*style each individual inside flex box*/
.links > div {
    /*background*/
    /*stetch background color*/
    width: 100%;
    background-color: #333333;
    border-radius: 8px;
    /*background*/

    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f0f0f0;
    font-weight: 600;
    font-size: 12px;
}

.links > div:hover{
    background-color: #DFFF00;
    color: #333333
}

